html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  /* border: 1px solid red; */
}

.flex {
  display:flex;
}

.justify-center{
  display:flex;
  justify-content: center;
}
/* css for email template page  */

.email_template{
  display: flex;
  justify-content:center; 
  width: 600px;
}

.email_header {
  height: 80px;
}

.email_body {
  height: 480px;
}

.inline_block {
  display: inline-block;
}

.margin_auto {
  margin: auto;
}

.align_item_center{
  align-items: center;
}

.container { 
  width: 1440px;
  margin: 0 auto;
  display: flex;
  padding: 0 150px;
  align-items: center;
  position: relative;
}


.margin-auto { 
  margin: auto;
}

.contactbutton {

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background: #47A296;
  color: #FFFFFF;
  height: 48px;
  width: 112px;
  border-radius: 5px;

}
/* this is for setup div */

/* 
#main_model {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  pointer-events: null;
}
.modalOverlay::after{
  content: '';
  width: 100%;
  height: 100vh;
  position: absolute;
  top: -100px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.558);
  z-index: -1;
} */


.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}