html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.flex {
  display:flex;
}

.justify-center{
  display:flex;
  justify-content: center;
}
/* css for email template page  */

.email_template{
  display: flex;
  justify-content:center; 
  width: 600px;
}

.email_header {
  height: 80px;
}

.email_body {
  height: 480px;
}

.inline_block {
  display: inline-block;
}

.margin_auto {
  margin: auto;
}
/* this is for setup div */



