html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}


.flex {
  display:flex;
}

.header {
  height: 100px;
  width: 100%;
  display: flex;
  list-style-type: none;
  box-shadow: 1px 1px 6px grey;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.left_header {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Racing Sans One;
}

.left_header_h1 {
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  color: #47a296;
}

.left_header_h1:hover {
  cursor: pointer;
}

.main_logo{
  font-family: 'Racing Sans One', cursive;
}

.middle_header {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
}

.middle_header li {
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #333333;
  height: 100%;
  align-items: center;
  display: flex;
  position: relative;
  justify-content: center;
  border-top: 3px solid white;
}

.down_arrow {
  color: #47a296;
  position: absolute;
  bottom: 0px;
  display: none;
}

.middle_header li:hover {
  border-top: 3px solid #47a296;
  cursor: pointer;
}

.middle_header li:hover .down_arrow {
  display: block;
}   

.right_header {
  width: 30%;
  display: flex;
  align-items: center;
}

.right_header li {
  padding-left: 99px;
  color: #47a296;
}

.spanbutton button {
  height: 48px;
  margin-left: 45.5px;
  width: 112px;
  background: #47a296;
  border: none;
  border-radius: 5px;
  color: white;
}

.banner_div {
  height: 684px;
  display: flex;
  width: 100%;
}

.left_banner{
  width: 50%;
  display: flex;
  justify-content:center;
  align-items: center;
  
}

.right_banner {
  width: 50%;
}

.banner_img {
  width: 100%;
}


.left_banner{
  background-color: #216277;
  color:white
}

.left_banner_h1{
  font-family: Montserrat;
  font-size: 50px;
font-weight: 700;
line-height: 64px;
}


.left_banner_p {
  width: 457px;
  height: 96px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  word-spacing: 1px;
  letter-spacing: 1px;

}

.left_banner_btn {
  width: 166px;
  height: 60px;
  border-radius: 10px;
  background-color: #C5D8E6;
  border: none;
}
.content {
  width: 457px;
}

.right_banner{
  background-color: #C5D8E6;
  display:flex;
  justify-content:center
}

.features {
  height:535px;
  background-color: #F6F8FA;
  text-align: center;
}

.features_h1{
  text-align: center;
  display: inline-block;
  margin: 60px 0;
}

.features_h1:hover {
border-bottom: 3px solid #47a296;
}

.features_div{
  display: flex;
  justify-content: space-evenly;
  margin: 20px 100px;
}

.featuresbox{
  width:25%;
}

.featuresbox_h1 {
  padding: 10px;
}

.featuresbox p {
  font-size: 18px;
}

.whyworkharddiv{
height: 736px;
background-color: #F6F8FA;
padding: 30px 0px;
}

.image_div{
position: relative;
height: 75%;
width: 100%;
}

/* css for email template page  */

.email_template{
  display: flex;
  justify-content:center; 
  width: 600px;
}

.email_header {
  height: 80px;
}

.email_body {
  height: 480px;
}
.security {
  display:flex;
  width: 100%;
  height: 440px;
}

.security_left{
  width: 50%;
}

.security_right{
  width: 50%;
  position: relative;
}

.biometric_image {
  width : 100% !important;
}

.below_image_div {
  padding: 30px;
  background-color: #E2E2E3;
  text-align: center;
}

.below_image_div h2 {
  padding: 3px 0 10px 0;
  color: #707070;
  text-align: center;
  font-size: 28px;
}

.below_image_div p 
{
  width: 34.5%;
  margin: auto;
}

/* this is for setup div */


.setup {
  height: 400px;
  padding:40px 0px;
  text-align: center;
}


.setup h2{
  padding: 10px 0;
}

.setup_child {
  width: 33%;
  height: 250px;
  padding: 50px 0;
}

.setup_child h3{
  padding: 30px 0 0 0;
  font-family: Montserrat;
font-size: 20px;
font-weight: 400;
}

.setup_child h2
{
  font-family: Montserrat;
font-size: 20px;
font-weight: 500;
line-height: 24px;

}

.setup_child p{
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  padding: 0 110px;
}

.circle {
  background-color: #AFD7D2;
  border-radius: 100%;
  display: flex;
  width: 160px;
  height: 160px;
  position: relative;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.setup_images {
  position: absolute;
  align-self: center;
}


.thanks_div {
  height: 700px;
}