.header {
    height: 100px;
    width: 100%;
    display: flex;
    list-style-type: none;
    box-shadow: 1px 1px 6px grey;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
  }
  
  .left_header {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Racing Sans One;
  }
  
  .left_header_h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    color: #47a296;
  }
  
  .left_header_h1:hover {
    cursor: pointer;
  }
  
  .main_logo{
    font-family: 'Racing Sans One', cursive;
  }
  
  .middle_header {
    display: flex;
    width: 36%;
    justify-content: space-between;
    align-items: center;
  }
  
  .middleheaderlink {
    font-family: Inter;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: #333333;
    height: 100%;
    align-items: center;
    display: flex;
    position: relative;
    justify-content: center;
    border-top: 3px solid white;
    font-size: 15px;
  }
  
  .down_arrow {
    color: #47a296;
    position: absolute;
    bottom: 0px;
    display: none;
  }
  
  .middleheaderlink:hover {
    border-top: 3px solid #47a296;
    cursor: pointer;
  }
  
  .middleheaderlink:hover .down_arrow {
    display: block;
  }   
  
  .right_header {
    width: 25%;
    display: flex;
    align-items: center;
  }
  
  .right_header li {
    padding-left: 140px;
    color: #47a296;
  }
  
  .spanbutton button {
    height: 48px;
    margin-left: 45.5px;
    width: 112px;
    background: #47a296;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
  

  /* model css  */

  .modal {
    position: absolute;
    background-color: white;
    top: 101px;
    padding: 80px 93px 40px;
    display:flex;
    justify-content: space-between;

    animation-name: slideIn;
    animation-duration: .5s;
    z-index: 10;
  }


  @-webkit-keyframes slideIn {
    from {top: 0px; opacity: 0} 
    to {top: 100px; opacity: 1}
  }
  
  @keyframes slideIn {
    from {top: 0px; opacity: 0} 
    to {top: 100px; opacity: 1}
  }
  
  .firstmodalchild .name{
    color: #47A296;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 66px;
    line-height: 24px;
  }

  .firstmodalchild p{
    font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 24px;
margin: 50px 0 0 10px;
  }


  .samepara{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    margin: 14px 0 0 0;
  }
  .modalchilds {
    width: 24%;
  }

  .hruler {
    color: #47A296;
    background-color: #47A296;
    margin: 4px 0;
    opacity: 0.5;
  }

  .modalchilds h2{
    font-weight: 400;
font-size: 20px;
line-height: 24px;

  }

  .modalchilds h3{
    font-weight: 600;
font-size: 14px;
line-height: 24px;
color: #47A296;
padding: 20px 0 10px;
  }

  .firstmodalchild {
    padding: 20px 0;
  }

