.setpassword {
        margin: 8% auto;
        border: 1px solid #47a296;
        padding: 2% 4%;
        width: 32%;
        text-align: center;
        border-radius: 13px;
}

.setpassword h1 {
    color: #47a296;
    width: 55%;
    margin: 0px auto 3px;
    padding: 15px 0;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    line-height: 24px; 
}

.setpassword hr {
    color: #47a296;
width: 47%;
margin: auto;
background-color: #47a296;
height: 2.5px;
border: none;
}

.setpassword p {
    
    font-size: 14px;
    line-height: 24px;
    color: #7B7B7B;
    padding: 20px 56px 10px;
    text-align: left !important;
}

.smallpara {
    font-size: 8px !important;
padding: 10px 29px !important;

}
